.floating-picture-wrapper {
    position: fixed;
    z-index: -1;
    opacity: 0.5;
    width: 250px; 
    height: 100px; 
  }
  
  .floating-picture {
    width: 200%;
    height: 300%;
    background-size: cover;
  }
  
  /* Define individual animations for each picture */
  /* Add more as needed based on the number of floating pictures */
  @keyframes float1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust floating height as needed */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes float2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust floating height as needed */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes float3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust floating height as needed */
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes float4 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust floating height as needed */
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes float5 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust floating height as needed */
    }
    100% {
      transform: translateY(0);
    }
  }